
<div class="modal">
    <button type="button" class="button modal__button-in">
        <svg class="modal__svg-button" width="30" height="30">
            <use href="/images/close.svg"></use>
        </svg>
    </button>
    <div class="cinema-card">
        <a class="gallery__item" href="">
            <img class="cinema__image" src="" data-source="" alt="" loading="lazy" />
        </a>
        <div class="info">
            <p class="info-item1">
                <b class="info-data1">XXXXXXX</b>
            </p>
            <p class="info-item2">
                <strong class="info-name">Vote / Votes</strong>
                <b class="info-data2"><span class="info-data2-acent1">x.xx</span>/ <span
                        class="info-data2-acent2">xxx</span></b>
            </p>
            <p class="info-item3">
                <strong class="info-name">Popularity</strong>
                <b class="info-data3">xxx.x</b>
            </p>
            <p class="info-item4">
                <strong class="info-name">Original Title</strong>
                <b class="info-data4">xxxxxx</b>
            </p>
            <p class="info-item5">
                <strong class="info-name">Genre</strong>
                <b class="info-data5">xxxxx</b>
            </p>
            <p class="info-item6">
                <strong class="info-name">About</strong>
                <b class="info-data6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, similique
                    cum. Beatae laboriosam consequatur perspiciatis assumenda cupiditate earum dignissimos maiores et
                    magni ex. Sed, asperiores temporibus commodi nemo numquam officia corporis facilis eos distinctio,
                    fuga minus, tempora blanditiis architecto laborum vel reiciendis dolores fugiat cupiditate amet
                    maiores id non. Sint beatae amet voluptatibus voluptas quisquam! Repellat doloribus, blanditiis
                    omnis aut enim illum vitae eos sed, doloremque natus, corporis eum qui.</b>
            </p>
        </div>
    </div>
    <div class="button modal__button-add">
        <button type="button" class="add-to-watched">add to watched</button>
        <button type="button" class="add-to-queue">add to queue</button>
    </div>
</div>

    