<div class="backdrop auth-backdrop" style="display: none">
  <div class="auth-modal">
    <button class="auth-modal__close">
      <svg class="auth-modal__icon-wrapper">
        <use class="auth-modal__icon" href="./images/icons/icons.svg#close"></use>
      </svg>
    </button>

    <h2 class="auth-modal__title"></h2>

    <form name="auth" class="auth-modal__form">
      <label class="auth-modal__label" for="email"
        >Email:
        <input class="auth-modal__input" type="email" name="email" id="email" />
      </label>
      <label class="auth-modal__label" for="password"
        >Password:
        <input class="auth-modal__input" type="password" name="password" id="password" />
      </label>

      <button type="submit" class="auth-modal__submit-btn"></button>
    </form>
  </div>
</div>
