<div class="film-backdrop">
  <div class="film-modal">
    <button type="button" class="modal__button-in">
      <svg class="modal__svg-button" width="30" height="30">
        <use href="./images/icons/icons.svg#close"></use>
      </svg>
    </button>
    <div class="cinema-card">
      <img class="cinema__image" src="" data-source="" alt="" loading="lazy" />
      <div class="info">
        <p class="info-item1">
          <b class="info-data1"></b>
        </p>
        <p class="info-item2">
          <strong class="info-name">Vote / Votes</strong>
          <b class="info-data2"
            ><span class="info-data2-acent1"></span>/<span class="info-data2-acent2"></span
          ></b>
        </p>
        <p class="info-item3">
          <strong class="info-name">Popularity</strong>
          <b class="info-data3"></b>
        </p>
        <p class="info-item4">
          <strong class="info-name">Original Title</strong>
          <b class="info-data4"></b>
        </p>
        <p class="info-item5">
          <strong class="info-name">Genre</strong>
          <b class="info-data5"></b>
        </p>
        <p class="info-item6">
          <strong class="info-name">About</strong>
          <b class="info-data6"></b>
        </p>
      </div>
    </div>
    <div class="button modal__button-add" data-key="" data-filmid="">
      <button type="button" data-addaction="watched" class="film-modal-button add-to-watched">
        add to watched
      </button>
      <button type="button" data-addaction="queue" class="film-modal-button add-to-queue">
        add to queue
      </button>
      <button type="button" data-addaction="delete" class="film-modal-button delete">delete</button>
    </div>
  </div>
</div>
