<header class="header">
  <div class="container header__container headerContainer">
    <nav class="header__nav nav">
      <button type="button" class="logo">
        <svg class="logo__icon-wrapper">
          <use href="./images/icons/icons.svg#logo" class="logo__icon"></use>
        </svg>
        <span class="logo__text">Filmoteka</span>
      </button>

      <ul class="nav__list navList"></ul>
    </nav>

    <div class="headerWrapper"></div>
    <!-- <form name="search" class="search">
      <input class="search__input" type="text" name="query" placeholder="Поиск фильмов" />
      <button type="submit" class="search__button">
        <svg class="search__icon-wrapper">
          <use class="search__icon" href="./images/icons/icons.svg#search"></use>
        </svg>
      </button>
    </form> -->

    <!-- <ul class="filter">
      <li class="filter__item filter__item--current">
        <button class="filter__button">watched</button>
      </li>
      <li class="filter__item"><button class="filter__button">queue</button></li>
    </ul> -->
  </div>
</header>
