<div class="backdrop-students js-backdropStudents">
    <div class= "modal-students main__wrapper container">
    <button type="button" class="closeModal "><svg class="item-position">
        <use class="auth-modal__icon" href="./images/icons/icons.svg#close"></use>
      </svg></button>
    <h2 class="modal-title">Our team</h2>
    <p class="text-for-team">Our team is the most creative team on the course</p>
    <ul class="list-team card-set">       
        <li class="card-set-item">
            <img src="./images/photo/Ilya.jpg" alt="Our Team Lead" class="photo" ></img>
            <h3 class="coder-name">Ilya</h3>
            <p class="text-for-stydents">Solves any corn conflicts on the project</p>
        </li>
        <li class="card-set-item">
            <img src="./images/photo/Serhii.jpg" alt="Our Scrum Master" class="photo"></img>
            <h3 class="coder-name">Serhii</h3>
            <p class="text-for-stydents">Deal with team conflicts</p>
        </li>
        <li class="card-set-item">
            <img src="./images/photo/Polina.jpg" alt="Our js developer" class="photo"></img>
            <h3 class="coder-name">Polina</h3>
            <p class="text-for-stydents">Pagination is afraid of her</p>
        </li>
        <li class="card-set-item">
            <img src="./images/photo/Olga.jpg" alt="Our js developer" class="photo"></img>
            <h3 class="coder-name">Olga</h3>
            <p class="text-for-stydents">To her obedient and code and special effects</p>
        </li>
        <li class="card-set-item">
            <img src="./images/photo/Ruslan.jpg" alt="Our js developer" class="photo"></img>
            <h3 class="coder-name">Ruslan</h3>
            <p class="text-for-stydents">If you want to know more about the film, contact him</p>
        </li>
        <li class="card-set-item">
            <img src="./images/photo/Anna.jpg" alt="Our js developer" class="photo"></img>
            <h3 class="coder-name">Anna</h3>
            <p class="text-for-stydents">Interested in new films ask her</p>
        </li>
        <li class="card-set-item">
            <img src="./images/photo/Stas.jpg" alt="Our js developer" class="photo"></img>
            <h3 class="coder-name">Stas</h3>
            <p class="text-for-stydents">He will tell you that your site is working</p>
        </li>
        <li class="card-set-item">
            <img src="./images/photo/Nadiia.jpg" alt="Our js developer" class="photo"></img>
            <h3 class="coder-name">Nadiia</h3>
            <p class="text-for-stydents">She will introduce you to the team</p>
        </li>       
    </ul>
    </div>
  </div>