.backdrop {
  width: 100vw;
  height: 100vh;
  padding: 20px;
  background-color: var(--backdrop-bg);
  position: fixed;
  left: 0;
  top: 0;
  transform: translateX(100%);
  @include animation(transform);
  display: flex;
  justify-content: center;

  @media screen and (min-width: 768px) {
    padding: 230px 75px;
  }

  @media screen and (min-width: 1024px) {
    padding: 100px 70px;
  }
}

.backdrop.is-open {
  transform: translateX(0);
}

.auth-modal {
  max-height: 222px;
  max-width: 280px;
  background-color: var(--header-links);
  position: relative;
  padding: 50px 20px 40px;

  &__close {
    width: 30px;
    height: 30px;
    color: var(--main-black);
    position: absolute;
    right: 10px;
    top: 10px;
  }

  &__close:hover {
    color: var(--header-links-accent);
    cursor: pointer;
  }

  &__icon-wrapper {
    width: 30px;
    height: 30px;
  }

  &__icon {
    stroke: currentColor;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__label {
    @include font();
    display: block;
    display: flex;
    justify-content: space-between;
  }

  &__label:not(:last-child) {
    margin-bottom: 30px;
  }

  // &__input {
  //   display: block;
  // }

  &__submit-btn {
    @include font();
    padding: 5px 10px;
    border: 1px solid transparent;
    background-color: var(--header-links-accent);
    border-radius: 5px;
    color: var(--header-links);
    @include animation2(color, background-color);
  }

  &__submit-btn:hover {
    border: 1px solid var(--main-black);
    color: var(--main-black);
    background-color: inherit;
    cursor: pointer;
  }
}
