body.show-modalStudents .backdrop-students
{
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
    transform: translateX(0);    
}

.backdrop-students
{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;    
  
  background-color: var(--backdrop-bg);
  z-index: 100;

  pointer-events: none;
  opacity: 0;
  visibility: hidden;    
  @include animation(transform);  
  transform: translateX(100%);
}

.modal-students
{
  padding: 20px;   
  width: 75vw;
  height: 75vh;
  position: fixed;
  
  background-color: white;
  @include mq(mobile) {
      max-width: var(--mobile);
      margin-right: auto;
      margin-left: auto;
    }
  @include mq(tablet) {
    max-width: var(--tablet);
    padding-left: 75px;
    padding-right: 75px;
  }
  @include mq(desktop) {
    max-width: var(--desktop);
    padding-left: 70px;
    padding-right: 70px;
  }
}

.item-position
{
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  // transform: translate(25%,0); 
  &:hover
  {
    // fill: var(--header-links-accent);
    // background-color: var(--header-links-accent);
    cursor: pointer;
  }  
}

.closeModal
{
  width: 30px;
  height: 30px;
  // border: 1px solid rgba(0, 0, 0, 0.1);
  // background-color: $primary-page-color;
  // background-color: var(--header-links-accent);
  // width: 30px;
  // height: 30px;
  // border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;  
}

.coder{
  width: 274px;
  // height: 120px;
}