body.show-modalStudents .backdrop-students
{
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
    transform: translateX(0);    
}

.backdrop-students
{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;    
  
  background-color: var(--backdrop-bg);
  z-index: 100;

  pointer-events: none;
  opacity: 0;
  visibility: hidden;    
  @include animation(transform);  
  transform: translateX(100%);
}

.modal-students
{
  padding: 20px;   
  width: 75vw;
  height: 100vh;
  position: fixed;
  overflow-y: auto;
  
  
  background-color: white;
  @include mq(mobile) {
      max-width: var(--mobile);
      margin-right: auto;
      margin-left: auto;
    }
  @include mq(tablet) {
    max-width: var(--tablet);
    padding-left: 75px;
    padding-right: 75px;
  }
  @include mq(desktop) {
    max-width: var(--desktop);
    padding-left: 70px;
    padding-right: 70px;
  }
}

.item-position
{
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;  
  &:hover
  {    
    cursor: pointer;
  }  
}

.closeModal
{
  width: 30px;
  height: 30px;  
  position: absolute;
  top: 8px;
  right: 8px;  
}

.photo{
  width: 265px;
  height: 398px;
  background-size:contain;
}

.modal-title
{
  text-align: center;
  font-size: 30px;
  padding-bottom: 20px;
}

.text-for-team
{
  text-align: center;
  font-size: 20px;
  padding-bottom: 15px;
}
.text-for-stydents
{
  text-align: center;
  font-size: 20px;
}

.coder-name
{
  text-align: center;
  font-size: 25px;
  padding-top: 10px;
  padding-bottom: 15px;
}