.theme-checkbox {
  &__label {
    display: block;
    position: absolute;
    border: 2px solid var(--main-black);
    width: 70px;
    height: 30px;
    border-radius: 14px;
    display: flex;
    align-items: center;
    padding: 2px;
    right: 50%;
    top: 10px;
    transform: translateX(50%);
    cursor: pointer;
  }

  &__toggler {
    z-index: 3;
    display: block;
    height: 23px;
    width: 23px;
    border-radius: 50%;
    background-color: var(--main-black);
    @include animation2(background-color, transform);
  }

  &:checked + &__label > &__toggler {
    transform: translateX(38px);
  }
}

.theme-icon {
  position: absolute;
  font-size: 16px;
}

.moon {
  left: 5px;
  color: var(--main-black);
}

.sun {
  right: 5px;
  color: var(--main-black);
}
